---
Language: Cpp

IndentWidth: 4
UseTab: Always
ColumnLimit: 120

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true

  AfterClass: false
  AfterControlStatement: false
  AfterFunction: false
  AfterNamespace: false

  BeforeLambdaBody: true
  IndentBraces: true

  SplitEmptyRecord: true
  SplitEmptyFunction: true

NamespaceIndentation: All